* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header */

.header-img img {
    width: 100%;
}

.header-nav {
    position: relative;
    top: -5px;
    background-color: rgb(70, 70, 70);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
}

.header-nav a:hover {
    background-color: black;
}

/* Main */

.main, .news-main, .contact-main, .about-main, .gallery-main {
    padding: 10px;
}

.main-text {
    display: flex;
    gap: 10px;
}

.main figure img {
    width: 350px;
}

figure figcaption {
    font-size: 12px;
    color: gray;
    margin-top: 5px;
}

.main h1,
.main h2 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
	color: blue;
}

.main a {
	color: blue;
	text-decoration: none;
}

.main a:hover {
	color: #8b3727;
	text-decoration: underline;
}

.main p {
	line-height: 1.8em;
    font-size: 18px;
}

footer {
    background-color: rgb(70, 70, 70);
    color: white;
    padding: 10px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

/* News */

.news-items {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.news-box {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.news-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-text p {
    font-size: 18px;
}


.news-box img {
    width: 250px;
}

.news-img figure {
    padding: 25px;
    border: 1px solid black;
}

.news-img figure img {
    width: 300px;
}

.news-body {
    padding: 10px;
}

.news-body p {
    font-size: 18px;
}

.news-body h3 {
    font-style: italic;
}

.news-body a, .news-text a {
    color: blue;
    text-decoration: none;
}

/* Contact */

.contact-form form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form label {
    font-size: 1.2em;
}

.contact-form input {
    padding: 5px;
    font-size: 1.2em;
    width: 30%;
}

/* Gallery */

.gallery-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery-box figure {
    width: 100%;
    height: 350px;
    border: 1px solid black;
    padding: 10px;
}

.gallery-box figure img {
    width: 100%;
    height: 100%;
}

.about-body {
    display: flex;
    gap: 10px;
}

.about-body p {
    font-size: 18px;
}

.about-body video {
    width: 100%;
}

@media only screen and (max-width: 768px) {

    .main-text {
        flex-direction: column;
    }
    .main figure img {
        width: 100%;
    }

    .news-box {
        flex-direction: column;
    }

    .news-box img {
        width: 100%;
    }

    .contact-form input {
        width: 100%;
    }

    .about-body {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .about-body video {
        width: 100%;
    }
}